<a href="https://colab.research.google.com/github/Suriya6744/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [2]:
X = iris_data['data']
y = iris_data['target']

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [4]:
from sklearn.metrics import SCORERS
model = DecisionTreeClassifier()
# Define the K-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.10)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, LeaveOneOut
model = DecisionTreeClassifier(max_depth=2)
# Define the K-fold cross validation
loo = LeaveOneOut()

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=loo)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.42)

transfrom numpy array to dataframe

In [6]:
import numpy as np
import pandas as pd

In [7]:
columns = iris_data['feature_names']
x_df = pd.DataFrame(X, columns=columns)
x_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
x_df['label'] = y
x_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
shuffle_df = x_df.sample(frac=1.0)
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
128,6.4,2.8,5.6,2.1,2
149,5.9,3.0,5.1,1.8,2
22,4.6,3.6,1.0,0.2,0
134,6.1,2.6,5.6,1.4,2
34,4.9,3.1,1.5,0.2,0
...,...,...,...,...,...
85,6.0,3.4,4.5,1.6,1
35,5.0,3.2,1.2,0.2,0
37,4.9,3.6,1.4,0.1,0
62,6.0,2.2,4.0,1.0,1
90,5.5,2.6,4.4,1.2,1

In [10]:
shuffle_df['fold'] = 15*[1,2,3,4,5,6,7,8,9,10]

In [11]:
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
128,6.4,2.8,5.6,2.1,2,1
149,5.9,3.0,5.1,1.8,2,2
22,4.6,3.6,1.0,0.2,0,3
134,6.1,2.6,5.6,1.4,2,4
34,4.9,3.1,1.5,0.2,0,5
...,...,...,...,...,...,...
85,6.0,3.4,4.5,1.6,1,6
35,5.0,3.2,1.2,0.2,0,7
37,4.9,3.6,1.4,0.1,0,8
62,6.0,2.2,4.0,1.0,1,9
90,5.5,2.6,4.4,1.2,1,10

In [12]:
X = shuffle_df.drop(['label','fold'], axis=1)
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
128                6.4               2.8                5.6               2.1
149                5.9               3.0                5.1               1.8
22                 4.6               3.6                1.0               0.2
134                6.1               2.6                5.6               1.4
34                 4.9               3.1                1.5               0.2
..                 ...               ...                ...               ...
85                 6.0               3.4                4.5               1.6
35                 5.0               3.2                1.2               0.2
37                 4.9               3.6                1.4               0.1
62                 6.0               2.2                4.0               1.0
90                 5.5               2.6                4.4               1.2

[150 rows x 4 columns]

In [13]:
x_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [14]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Split the data into features and target
X = x_df.drop('label', axis=1)
x_df['label'] = y
y = x_df['label']

# Set the number of folds and initialize a new column to store the fold number
num_folds = 10
X['fold'] = -1

# Create a KFold object and use it to assign fold numbers to each row
kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)
for fold, (train_index, test_index) in enumerate(kf.split(X)):
    X.loc[test_index, 'fold'] = fold

In [15]:
# Initialize a list to store the model's scores
scores = []

# Loop through each fold and fit a linear regression model
for fold in range(num_folds):
    # Get the training and test sets for this fold
    X_train = X[X['fold'] != fold].drop('fold', axis=1)
    y_train = y[X['fold'] != fold]
    X_test = X[X['fold'] == fold].drop('fold', axis=1)
    y_test = y[X['fold'] == fold]
    
    # Fit a linear regression model to the training data
    model = DecisionTreeClassifier(max_depth=2)
    model.fit(X_train, y_train)
    
    # Evaluate the model on the test data
    score = cross_val_score(model, X_test, y_test, cv=kf)
    # Append the score to the list of scores
    scores.append(score)

# Compute the average score across all folds
avg_score = sum(scores) / len(scores)
print(f'Average score: {avg_score}');
#average can changes all time???

Average score: [0.9  0.9  0.85 0.95 0.95 0.9  1.   0.8  0.9  0.8 ]

In [16]:
# Perform cross validation and compute the accuracy for each fold
fold_accuracies = cross_val_score(model, X, y, cv=kf)

# Compute the mean accuracy across all folds
mean_accuracy = fold_accuracies.mean()

# Print the accuracy for each fold and the mean accuracy
for fold, accuracy in enumerate(fold_accuracies):
    print(f'Fold {fold + 1} accuracy: {accuracy:.3f}')
print(f'Mean accuracy: {mean_accuracy:.3f}')

Fold 1 accuracy: 1.000
Fold 2 accuracy: 1.000
Fold 3 accuracy: 1.000
Fold 4 accuracy: 0.933
Fold 5 accuracy: 1.000
Fold 6 accuracy: 0.867
Fold 7 accuracy: 0.867
Fold 8 accuracy: 1.000
Fold 9 accuracy: 0.933
Fold 10 accuracy: 0.867
Mean accuracy: 0.947